
nav {
    background: skyblue;
    padding: 30px;
  }
a{
  font-family: sans-serif;
  margin-left: 10px;
  text-decoration: none;
  padding: 10px;
  color: black;
  margin-top: none;
}
body {
    /* background-image: url('/images/repair.jpg'); */
    /* background-repeat: no-repeat; */
    background-color: pink;
    /* background-size: cover; */
    /* background-attachment: fixed; */
}
  p {
    color: white;
  }
    img {
      width: 100px;
      border-radius: 50px;
    }
   
   