
  a {
    font-family: sans-serif;
    margin-left: 10px;
    text-decoration: none;
    padding: 10px;
    color: black;
    margin-top: none;
  }
  nav {
    background: skyblue;
    padding: 20px;
  }
  h1 {
    text-align: center;
      font-weight: bold;
  }
  h4 {
    text-align: center
  }
  body {
    background: pink;
  }
  